[alias]
	lg = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	ignored = ! git ls-files --others --ignored --exclude-standard --directory && git ls-files --others -i --exclude-standard
[core]
	pager = delta
	quotepath = false
	editor = vim
	excludesfile = ~/.gitignore
[interactive]
	diffFilter = delta --color-only --features=interactive
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = blue bold
	newHighlight = blue bold 22
[color "diff"]
	meta = yellow bold
	commit = green bold
	frag = magenta bold
	old = red bold
	new = blue bold
	whitespace = red reverse
[color "branch"]
	current = yellow reverse
	local = white
	remote = green
[color "status"]
	added = yellow
	changed = blue
	untracked = white
[merge]
	conflictstyle = diff3
[pull]
	rebase = true
[user]
	name = MDL13412
	email = mdl2009@vip.qq.com
[init]
	defaultBranch = master
[delta]
	meta-style = yellow bold
	commit-style = green bold
	frag-style = magenta bold
	old-style = red bold
	new-style = blue bold
	whitespace-style = red reverse
	features = decorations
	oldNormal-style = red bold
	oldHighlight-style = red bold 52
	newNormal-style = blue bold
	newHighlight-style = blue bold 22
[delta "interactive"]
	keep-plus-minus-markers = false
[delta "decorations"]
	commit-decoration-style = blue ol
	commit-style = raw
	file-style = omit
	hunk-header-decoration-style = blue box
	hunk-header-file-style = blue
	hunk-header-line-number-style = "#067a00"
	hunk-header-style = file line-number syntax
[fetch]
	pruneTags = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
